:root {
  --node-border: 1px solid #c9e2ff;
  --wall-color: rgb(12, 53, 71);
  --wall-border: 1px solid var(--wall-color);
  --node-padding: 7px;
}

.cell {
  border: var(--node-border);
  padding: 0;
}

.node {
  position: relative;
  height: 13px;
  width: 13px;
}

.start {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: green;
  cursor: pointer;
}

.target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: red;
  cursor: pointer;
}

.wall {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--wall-color);
  padding: var(--node-padding);
  animation-name: wallAnimation;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    background-color: rgba(0, 0, 187, 0.75);
    opacity: 0%;
  }

  100% {
    background-color: var(--wall-color);
    opacity: 100%;
  }
}