.cell {
  border: var(--node-border);
  padding: 0;
}

.visitedCell {
  background-color: var(--visited-cell-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.path {
  background-color: var(--path-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.node {
  position: relative;
  height: 13px;
  width: 13px;
}

.start {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--start-color);
  cursor: pointer;
  z-index: 9999;
}

.target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--finish-color);
  cursor: pointer;
  z-index: 99999;
}

.wall {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--wall-color);
  padding: var(--node-padding);
  animation-name: wallAnimation;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  z-index: 999999;
}

@keyframes wallAnimation {
  0% {
    background-color: #9daeb5;
    opacity: 0%;
  }

  100% {
    background-color: var(--wall-color);
    opacity: 100%;
  }
}