.table {
  border-collapse: collapse;
  border-spacing: 0px;
}

.gridContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.legends {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 30px;
}

.startNode {
  width: 20px;
  height: 20px;
  background-color: var(--start-color);
  margin-right: 10px;
}

.targetNode {
  width: 20px;
  height: 20px;
  background-color: var(--finish-color);
  margin-right: 10px;
}

.visitedNode {
  width: 20px;
  height: 20px;
  background-color: var(--visited-cell-color);
  margin-right: 10px;
}

.pathNode {
  width: 20px;
  height: 20px;
  background-color: var(--path-color);
  margin-right: 10px;
}

.textTitle {
  color: var(--wall-color);
}

.textTitleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.wallNode {
  width: 20px;
  height: 20px;
  background-color: var(--wall-color);
  margin-right: 10px;
}

.legendText {
  color: var(--wall-color);
  font-size: 18px;
}

.text {
  color: var(--wall-color);
}

.legendItem {
  display: flex;
  align-items: center;
}

.legendsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.textContainer {
  display: flex;
  justify-content: center;
}

.buttonsGrid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 5px;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button {
  background-color: #0075da;
  border: none;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.button:hover {
  cursor: pointer;
  background-color: #0067c1;
}

.button:disabled {
  cursor: default;
  background-color: #289bff;
}